<div class ="contact_main">
  <div class ="contact_top_p">
    <div class ="contact_top">
      <div class ="contact_box">CONTACT</div>
      <div class ="contact_notice">お問い合わせ</div>
    </div>
  </div>
  <div class ="contact_bottom">
    <form class ="contact_form">
      <div class ="name">名前</div>
      <input type ="text" class ="name_form">
      <div class ="address">メールアドレス</div>
      <input type ="text" class ="address_form">
      <div class ="inquiry">お問い合わせ内容</div>
      <textarea name ="message" class ="inquiry_form"></textarea>
      <div class ="send_box">
        <input type ="submit" value ="送信" class ="send">
      </div>
    </form>
  </div>
</div>