<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8">
    <title>APP FIRST</title>
    <%=stylesheet_link_tag("application.css")%>
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <header class="header">
      <div class = "main_header">App First</div>
      <div class = "sub_header">
        <div class ="left_header">SERVICE</div>
        <div class ="middle_header">NEWS</div>
        <div class ="right_header">CONTACT</div>
      </div>
    </header>
  <div class = "main">
    <%=image_tag "hero.jpeg", class:"heroimage"%>
    <div class ="box">
      <div class ="left_box">
        <div class ="main_title">プロトタイプからはじめよう</div>
        <div class ="sub_title">あなたのアイディアを、最小限のコストアプリに</div>
      </div>
      <div class ="right_box">
        <div class ="link_title">サービスを見る</div>
      </div>
    </div>
  </div>
    <footer>
      <div class ="footer_message">Copyright©️2022 TECHCAMP</div>
    </footer>
  </body>
</html>