<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8">
    <title>APP FIRST</title>
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <header>
      <div class = "title">App First</div>
        <div class = "sub_title">
          <p>SERVICE</p>
          <p>NEWS</p>
          <p>CONTACT</p>
        </div>
    </header>
  <div class = "main">
    <div class = "main_title">プロトタイプからはじめよう</div>
    <div class = "sub_title">あなたのアイディアを、最小限のコストアプリに</div>
    <div class = "link_title">サービスを見る</div>  
  </div> 
  </body>
  <footer>
    <h2>Copyright©️2022 TECHCAMP</h2>
  </footer>
</html>