<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8">
    <title>APP FIRST</title>
    <%=stylesheet_link_tag("application.css")%>
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="style.css">
  </head>
  
  <body>  
    <div class ="news_main">
      <div class ="news_top_p">
        <div class="news_top">
          <div class="news_top_box">NEWS</div>
          <div class="news_top_notice">お知らせ</div>
        </div>
      </div>
      <div class ="news_bottom">
        <div class ="news_bot_left">
          <div class ="news_bot_title">ワークショップ開催のお知らせ</div>
          <div class ="news_bot_detail">
            <div class ="news_bot_detai_days">2024年4月1日</div>
            <div class ="news_bot_detai_category">カテゴリー：お知らせ</div>
          </div>
          <div class ="news_bot_image"></div>
          <div class ="news_bot_explain">アプリケーションリリース</div>
        </div>
        <div class ="news_bot_right">
          <div class ="news_bot_category">カテゴリー</div>
          <div class ="news_bot_first">お知らせ</div>
          <div class ="news_bot_second">プレリリース</div>
          <div class ="news_bot_third">プレリリース</div>
        </div>
      </div>
    </div>
  </body>