/* ---　ヘッダー　--- */
.header {
  background-color: #DBDBDB;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.main_header {
  font-size: 36px;
  font-weight: 600;
  margin-left: 30px;
  color:black;
  text-decoration: none;
}

.sub_header {
  display: flex;
  font-size: 22px;
  font-weight: 600;
}

.middle_header {
  margin-left: 70px;
  color:black;
  text-decoration: none;
}

.right_header {
  margin:0 100px 0 70px;
  color:black;
  text-decoration: none;
}

.left_header {
  color:black;
  text-decoration: none;
}

/* ---　フッダー　--- */
footer{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
}

.footer_message{
  font-size: 16px;
  color: #959393;
}

/* ーー　トップページ　ーー */
/* ---　メイン　--- */
.main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 700px;
  width: 100vw;
}

.heroimage {
  width: 100vw;
  height: 700px;
  object-fit: cover;
  opacity: 30%;
  position: relative;
}
.box {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.main_title {
  font-size: 70px;
  font-weight: 600;
  margin-left: 60px ;
  padding-bottom: 10px;
}

.sub_title {
  font-size: 18px;
  margin-left: 60px;
}

.right_box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 250px;
  background-color: #959393;
  margin-right: 60px;
  border-radius: 10px;
}

.link_title {
  font-size: 24px;
  font-weight: 600;
}

/* ーーサービスページーー */
/* ---　メイン　--- */

.service_main {
  width: 100vw;
}

.service_box_top_p {
  display: flex;
  justify-content: center;
}

.service_box_top {
  font-size: 64px;
  font-weight: 600;
  margin-top: 50px;
}

.service_box_bottom_p {
  display: flex;
  justify-content: center;
}

.service_box_bottom {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 160px;
}

.photo_box {
  height: 575px;
}

.photos {
  display: flex;
  justify-content: space-around;
  margin:0 100px 180px 100px;
}

.photo_text_title {
  font-size: 18px;
  font-weight: 600;
}

.photo_text_explain{
  font-size: 14px;
}

.photos_list {
  height: 120px;
  width: 350px;
  background-color: #DADADA;
  padding: 20px;
  border-radius: 0 0 5px 5px;
}

.photos_image {
  height: 275px;
  width: 350px;
  border-radius: 5px 5px 0 0;
}

/* ーーニュースページーー */
.news_main {
  width: 100vw;
}

.news_top_p {
  display: flex;
  justify-content: center;
}

.news_top_box {
  font-size: 64px;
  font-weight: 600;
  margin-top: 50px;
}

.news_top_notice {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 150px;
  text-align: center;
}

.news_bottom {
  display: flex;
  justify-content: center;
  height: 760px;
}

.news_bot_left {
  height: 600px;
  width: 960px;
}

.news_title {
  font-size: 36px;
  font-weight: 600;
}

.news_detail {
  font-size: 18px;
  display: flex;
}

.news_detail_days {
  margin: 20px 60px 20px 0;
}

.news_detail_category{
  margin: 20px 0;
}

.news_image{
  height: 240px;
  width: 630px;
}

.news_explain {
  height: 300px;
  width: 630px;
  font-size: 18px;
  margin-top: 20px;
  line-height: 1.5;
}

.news_category {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 10px;
}

.first_box {
  height: 60px;
  width: 200px;
  background-color: #EEEDED;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.news_first {
  font-size: 18px;
  font-weight: 600;
}

.second_box  {
  height: 60px;
  width: 200px;
  background-color: #EEEDED;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;

}

.news_second {
  font-size: 18px;
  font-weight: 600;
}

.third_box {
  height: 60px;
  width: 200px;
  background-color: #EEEDED;
  display: flex;
  justify-content: center;
  align-items: center;
}

.news_third {
  font-size: 18px;
  font-weight: 600;
}

/* ーーコンタクトページーー */
.contact_main {
  width: 100vw;
}

.contact_top_p {
display: flex;
justify-content: center;
}

.contact_box {
  font-size: 64px;
  font-weight: 600;
  margin-top: 50px;
}

.contact_notice {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 150px;
}

.contact_bottom {
  display: flex;
  justify-content: center;
  margin-bottom: 180px;
  font-size: 24px;
}

.name {
margin-bottom: 5px;
}

.name_form {
  font-size: 20px;
  height: 60px;
  width: 650px;
  border-radius: 10px;
  border: 2px solid #DEDEDE;
  padding: 10px;
  
}

.address {
  margin: 25px 0 5px 0;
}

.address_form {
  font-size: 20px;
  height: 60px;
  width: 650px;
  border-radius: 10px;
  border: 2px solid #DEDEDE;
  padding: 10px;
}

.inquiry {
  margin: 25px 0 5px 0;
}

.inquiry_form {
  font-size: 20px;
  height: 160px;
  width: 650px;
  border-radius: 10px;
  border: 2px solid #DEDEDE;
  padding: 10px;
  margin-bottom: 40px;
}

.send {
  font-size: 24px;
  height: 50px;
  width: 100px;
  border-radius: 10px;
  color: #ffffff;
  background-color: #454545;
}